/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/backgroung.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(32px); /* Adjust the blur amount as needed */
  z-index: -1; /* Ensure the blur layer is behind the content */
}

body > * {
  position: relative;
  z-index: 1; /* Ensure the content is above the blur layer */
}

.container{
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.navbar {
  background: transparent;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.website-name {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.navbar-logo,
.navbar-logonu {
  height: 50px; 
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-links a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background: #cd5ff8;
  transition: .8s;
}

.navbar-links a:hover::before {
  width: 100%;
}

/* Modal Styles*/
/* Modal.css */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
  width: 500px; /* เพิ่มความกว้าง */
  height: 400px; /* เพิ่มความสูง */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-navigate{
  text-align: center;
  margin-top: 50px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.body {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: orangered;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}


.schoolBotanicalGardenButton, .localResourceBaseButton {
  margin: 0 10px;
}

.previousFormsContainer{
  text-align: center;
  margin-top: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px; /* Adjust as needed */
}

.navbar-links a:hover, .signout-button:hover {
  color: #ddd; /* Adjust as needed */
}
.icon.custom-icon {
  font-size: 22px; /* Adjust as needed */
  margin-right: 8px; /* Space between icon and text */
}

.signout-button {
  cursor: pointer;
}

/* Home Css */
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {transform: rotate(0.0deg)}
  10% {transform: rotate(14.0deg)}
  20% {transform: rotate(-8.0deg)}
  30% {transform: rotate(14.0deg)}
  40% {transform: rotate(-4.0deg)}
  50% {transform: rotate(10.0deg)}
  60% {transform: rotate(0.0deg)}
  100% {transform: rotate(0.0deg)}
}

.typewriter{
  color: #cd5ff8;
  position: relative;
}

.typewriter::after{
  content: "|";
  position: absolute;
  right: 200px;
  color: #cd5ff8;
  background-color: black;
  width: 100%;
  animation: typing 3s steps(12) alternate infinite, line 1s infinite;
}

@keyframes typing{
  to{
      width: 0%;
  }
}

@keyframes line {
  50%{
      color: transparent;
  }
}
