.lc-container {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lc-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lc-heading {
  text-align: center;
}

.lc-content {
  text-align: left;
}

.lc-content label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.lc-content input,
.lc-content textarea {
  width: calc(100% - 12px); /* ปรับความกว้างของ input fields หรือ textarea ลดลงจาก 10px เพื่อหลีกเลี่ยงการซ้อนทับ */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.lc-h3 {
  margin-top: 8px;
  margin-bottom: -6px;
  text-align: center;
  width: 100%;
}
.lc-p {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.localform-table {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  /* width: 30%; */
  margin: 30px auto 20px;
  table-layout: fixed;
  margin-top: 30px;
  border-radius: 10px;
  border-spacing:0 ;
  overflow: hidden;
}

.phone-fax,
.address {
  display: flex;
  flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้ข้อมูลของ phone-fax และ address อยู่ในแถวเดียวกัน */
  align-items: center;
  text-align: left;
}

.phone-fax input,
.address input {
  margin-right: 4%; /* เพิ่ม margin-right เพื่อเว้นระยะห่างระหว่าง input fields */
}

.phone-fax label {
  width: 175px;
  margin-right: 10px;
}
.address label {
  width: 60px;
}

.address input {
  flex: 1;
}

.lc-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.lc-footer button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #1ca59e;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.lc-footer button:hover {
  background-color: #1daac5;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 35px;
}
.button button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Conscript css */
.co-body-head {
  text-align: center;
  width: 100%;
}
.co-content1,.co-content2,.co-content3,.co-content4 {
  text-align: left;
  padding-left: 10px;
}
.box {
  text-align:center;
}
.co-footer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align children to the start of the container */
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox input[type="checkbox"] {
  margin-right: 8px;
}
.conscript-table {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  margin: 30px auto 20px;
  table-layout: fixed;
  border-radius: 10px;
  border-spacing:0 ;
  overflow: hidden;
  
}
td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align:center;
  overflow-wrap: break-word; /* ทำให้ข้อความยาวๆ ถูกตัดและย้ายลงบรรทัดใหม่ */
  word-break: break-word; /* เพิ่มการตัดข้อความให้อยู่ในกรอบ */
  line-height: 1.5;
  padding-left: 30px;
  padding-bottom: 30px;
}
th {
  border: 1px solid #ddd;
  padding: 20px;
  text-align:center;
  overflow-wrap: break-word; /* ทำให้ข้อความยาวๆ ถูกตัดและย้ายลงบรรทัดใหม่ */
  word-break: break-word; /* เพิ่มการตัดข้อความให้อยู่ในกรอบ */
  line-height: 1.5;
}
h2 {
  margin-bottom: 2px;
  text-align: center;
  width: 100%;
}
h3 {
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.tab{
  padding-left: 1em;
}
.tabb {
  padding-left: 2em;
}
.tabbb {
  padding-left: 3em;
}
.tabbbb {
  padding-left: 4em;
}
.tab5 {
  padding-left: 5em;
}
.tab6 {
  padding-left: 100px;
}
.tab7 {
  padding-left: 7em;
}

.inline {
  display: inline-block;
  margin-right: 1em;
}
.inline2 {
  display: inline-block;
  padding-left: 118px;
}
.inline-right {
  text-align: right;
  margin-right: 40px;
}

/* LocalManaghe css */
.lmf-container {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.lmf-body {
  margin-left: 20px;
  margin-right: 20px;
}
.lmf-table {
  margin-left: 20px;
  margin-right: 20px;
}

#lmf-table {
  background-color: rgba(255, 255, 255, 0.9);
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  table-layout: fixed;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 10px;
}

.lmf-h2 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 15px;
}

td:first-child {
  text-align: left;
}

/* ชิดข้อความไปทางกลาง */
th:nth-child(n+2),
td:nth-child(n+2) {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
.lmf-p {
  margin-top: 5px;
  margin-bottom: 5px;

}
.lmf-h2 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 30px;
}
.lmf-h1 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 30px;
}
#lmf-table th:nth-child(1),
#lmf-table td:nth-child(1) {
  width: 50%; /* คอลัมน์1 */
}
#lmf-table th:nth-child(2),
#lmf-table td:nth-child(2) {
  width: 13%; /* คอลัมน์2 */
}
#lmf-table th:nth-child(3),
#lmf-table td:nth-child(3) {
  width: 8%; /* คอลัมน์3 */
}

.passed::after {
  content: " ✓";
  color: green;
  text-align: center;
  font-weight: bold;
}
.not-passed::after {
  content: " ✗";
  color: red;
  text-align: center;
  font-weight: bold;
}

#Nested-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px; 
}
#Nested-table th:nth-child(1),
#Nested-table td:nth-child(1){
  width: 8%;
}
#Nested-table th:nth-child(2),
#Nested-table td:nth-child(2){
  width: 15%;
}
#Nested-table th:nth-child(3),
#Nested-table td:nth-child(3){
  width: 15%;
}
#Nested-table th:nth-child(4),
#Nested-table td:nth-child(4){
  width: 15%;
}
#Nested-table1 {
  width: 75%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 40px;
  text-align: center;
}
#Nested-table1 th:nth-child(1),
#Nested-table1 td:nth-child(1){
  width: 5%;
  text-align: center;
}
#Nested-table1 th:nth-child(2),
#Nested-table1 td:nth-child(2){
  width: 15%;
  text-align: center;

}

/* Style the headers of the nested table */
#Nested-table th,#Nested-table1 th {
  background-color: #f0f0f0; /* Light gray background for header */
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
}

/* Style the cells of the nested table */
#Nested-table td,#Nested-table1 td {
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
  
}
.button-next button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #1ca59e;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.button-next button:hover {
  background-color: #1daac5;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}
.button-back button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #ec6459;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.button-back button:hover {
  background-color: #f48064;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}
.button-next button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
.button-back button:active {
  background-color: #e65932;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px; 
}
.button button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Summary.css */
.sum-table {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  margin: 30px auto 20px;
  table-layout: fixed;
  border-radius: 10px;
  border-spacing:0 ;
  overflow: hidden;
  width: 60%;
}
.sum-h2{
  margin-top: 40px;
  text-align: center;
}
.sum-h3{
  margin-top: 30px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;  
}
.flex-line {
  text-align:left;
  margin-left: 82px;
  margin-bottom: 10px;  
}
.sumUser {
  margin-left: 120px;
  margin-bottom: 60px;
}
.sumReferee {
  margin-left: 120px;
  margin-bottom: 30px;
}
.showSum-table {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  margin: 30px auto 20px;
  table-layout: fixed;
  border-radius: 10px;
  border-spacing:0 ;
  overflow: hidden;
  width: 42%;
}

.pass::before {
  content: " ✓";
  color: green;
  font-weight: bold;
  font-family: Arial, sans-serif; 
}
.not-pass::before {
  content: " ✗";
  color: red;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
