.lc-container {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.lc-body {
  margin-top: 20px;
}

.lc-heading {
  text-align: center;
}

.lc-content {
  margin-bottom: 20px;
}

.lc-content label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.lc-content input,
.lc-content textarea {
  width: calc(100% - 12px); /* ปรับความกว้างของ input fields หรือ textarea ลดลงจาก 10px เพื่อหลีกเลี่ยงการซ้อนทับ */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.phone-fax,
.address {
  display: flex;
  flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้ข้อมูลของ phone-fax และ address อยู่ในแถวเดียวกัน */
  align-items: center;
  text-align: center;
}

.phone-fax input,
.address input {
  margin-right: 4%; /* เพิ่ม margin-right เพื่อเว้นระยะห่างระหว่าง input fields */
}

.address label {
  width: 100px;
}

.address input {
  flex: 1;
}


.lc-footer {
  text-align: center;
}

.lc-footer button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lc-footer button:hover {
  background-color: #0056b3;
}


/* Conscript css */
.co-body-head {
  text-align: center;
}

/* LocalManaghe css */
/* Ensure the container occupies the entire width */
.lmf-container {
  width: 100%;
  max-width: 100%;
}

/* Apply styles to the body */
.lmf-body {
  background-color: #fff; /* White background */
  padding: 20px; /* Add some padding */
}

/* Center the text */
.lmf-text {
  text-align: center;
}

/* Style the main table */
#lmf-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table headers */
#lmf-table th {
  background-color: #f0f0f0; /* Light gray background for header */
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
}

/* Style the table cells */
#lmf-table td {
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
}

/* Apply styles to the nested table */
#Nested-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the headers of the nested table */
#Nested-table th {
  background-color: #f0f0f0; /* Light gray background for header */
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
}

/* Style the cells of the nested table */
#Nested-table td {
  border: 1px solid #ddd; /* Add borders */
  padding: 10px;
}
