/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  /* background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  background-color: white;
}


.container {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #c9c9c9;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.website-name {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.navbar-logo,
.navbar-logonu {
  height: 50px; /* Adjust as needed */
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  transition: color 0.3s, background-color 0.3s, padding 0.3s;
  border-radius: 5px; /* Rounded corners */
}

.navbar-links a:hover {
  color: #333;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Modal Styles*/
/* Modal.css */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
  width: 500px; /* เพิ่มความกว้าง */
  height: 400px; /* เพิ่มความสูง */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-navigate{
  text-align: center;
  margin-top: 50px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.body {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: orangered;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}


.schoolBotanicalGardenButton, .localResourceBaseButton {
  margin: 0 10px;
}

.previousFormsContainer{
  text-align: center;
  margin-top: 2rem;
}