/* form.css */  
.ev-text-center {
  text-align: center;
}

.ev-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ev-footer input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.ev-footer button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ev-footer button:hover {
  background-color: #45a049;
}

.ev-footer button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.ev-footer button:disabled:hover {
  background-color: #cccccc;
}


/* GeneralForm.css */
.ge-container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.ge-header {
width: 100%;
text-align: center;
}

.ge-body {
display: flex;
flex-wrap: wrap; /* Allow columns to wrap */
justify-content: center; /* Center the columns */
align-items: flex-start; /* Align items at the top */
width: 100%;
padding: 20px;
box-sizing: border-box;
text-align: center;
}

/* หัวข้อ */
.ge-text {
text-align: center;
}
.ge-text + .ge-text {
margin-top: 0;
}
.ge-text:first-of-type {
margin-bottom: 5px;
}

/* formระดับบการศึกษา */
.education-container {
margin: 20px;
}
.education-level {
margin-bottom: 15px;
}
.education-level input[type="checkbox"] {
margin-right: 10px;
}
.counts {
margin-left: 20px;
display: flex;
flex-direction: column;
}
.counts input {
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
}


.submit-button {
display: block;
width: 100%;
padding: 10px;
margin-top: 20px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
}

.submit-button:hover {
background-color: #0056b3;
}

input[type='number'],
input[type='text'],
input[type='tel'],
input[type='ge-email']{
/* width: 200px; */
margin: 5px;
padding: 8px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 14px;
justify-content: center;
}
textarea[type='projectDetail'] {
font-size: 14px;
}

input[type='checkbox'] {
height: 20px; /* Increase the height of the checkbox */
margin-right: 5px;
}
.passed::after {
content: " ✓";
color: green;
text-align: center;
font-weight: bold;
}
.not-passed::after {
content: " ✗";
color: red;
text-align: center;
font-weight: bold;
}
/* FormManagement css*/
.fm-heading{
text-align: center;
}
/* FormManagement.css */
.fm-container {
font-family: Arial, sans-serif;
}

.fm-header {
margin-bottom: 20px;
}

.fm-heading {
text-align: center;
margin-bottom: 20px;
}

.fm-maintable {
width: flex;
border-collapse: collapse;
margin: 0 auto;
background-color: #f9f9f9;
margin-right: 50px;
margin-left: 50px;
word-wrap: break-word;
}

.fm-maintable th, .fm-maintable td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
word-wrap: break-word;
max-width: 60rem;
}

.fm-maintable th {
background-color: #f2f2f2;
}

.fm-col1, .fm-col2, .fm-col3, .fm-col4, .fm-col5 {
text-align: center;
}

.fm-maintable input[type="number"], .fm-maintable input[type="text"] {
width: 100%;
padding: 5px;
box-sizing: border-box;
}
